@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tektur:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 3px;

    /* Grid template areas */
    #header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        grid-area: main;
    }

    #footer {
        grid-area: footer;
    }
}

#header {
    display: flex;
    min-width: 1440px;
    margin: 0 auto;
    height: 85px;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #333;
    }
}

.main {
    display: flex;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}

#footer {
    width: 100%;
    position: static;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: #d1d2d2;
    border-top: solid 1px #ccc;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100dvh;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 250px;
    }

    #header {
        min-width: 80%;
        nav {
            a {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: #333;
            }
        }
    }
    .sidebar {
        display: flex;
        align-items: flex-start;
    }
}