* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: "Times New Roman", Times, Serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-rows: 85px 1fr auto;
    min-height: 100vh;

    /* Grid template areas */
    #header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        grid-area: main;
    }

    #footer {
        grid-area: footer;
    }
}

#header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 85px;
    background-color: color-mix(in srgb, #f5c751, black 20%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;

    .inner {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 250px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        padding: 0 15px;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        color: #fff;
        &:hover {
            background-color: color-mix(in srgb, #f5c751, black 30%);
        }
    }

    .nav-menu {
        padding: 0 15px;
        a {
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            &:hover {
                background-color: color-mix(in srgb, #f5c751, black 30%);
                border-radius: 5px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .nav-toggle,
    .hamburger {
        display: none;
    }
}

.content {
    display: flex;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: color-mix(in srgb, #f5c751, black 20%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    .sidebar-content {
        flex-direction: column;
        padding: 7px;
        margin: 5px;
        h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        .side-nav {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                text-align: center;
                color: #fff;
                padding: 5px 0;
                &:hover {
                    background-color: color-mix(in srgb, #f5c751, black 30%);
                    border-radius: 5px;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    position: static;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: #232323;
    color: #ffffff;
    border-top: 3px solid #c49a3c;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100dvh;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 250px;
    }

    #header {
        display: flex;
        width: 100dvw;
        justify-content: space-between;

        .inner {
            width: 100%;
            margin: 10px 15px;
        }

        .logo {
            text-align: center;
            border-right: none;
        }

        .nav-menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-right: none;
        border-top: #333 solid 1px;
        align-items: flex-start;
    
        .sidebar-content {
            width: 75%;

            h2 {
                text-align: center;
            }
        }
    }
}