@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tektur:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    /* Grid template areas */
    #header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        grid-area: main;
    }

    #footer {
        grid-area: footer;
    }
}

#header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 85px;
    background-color: color-mix(in srgb, #f5c751, black 20%);
    border-bottom: #333 1px solid;
    justify-content: space-between;
    align-items: center;

    .inner {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        padding-right: 112px;
        margin-left: 10px;
        border-right: solid 1px #333;
        color: #fff;
        &:hover {
            color: #ccc;
        }
    }

    .nav-menu {
        a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .nav-toggle,
    .hamburger {
        display: none;
    }
}

.content {
    display: flex;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: color-mix(in srgb, #f5c751, black 20%);
    border-right: #333 solid 1px;

    .sidebar-content {
        flex-direction: column;
        padding: 7px;
        margin: 5px;
        h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        ul {
            list-style: circle;
            list-style-type: disc;
            margin-left: 20px;
            li {
                a {
                    text-decoration: none;;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    position: static;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: #232323;
    color: #ffffff;
    border-top: 3px solid #c49a3c;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        height: 100dvh;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 250px;
    }

    #header {
        width: 100dvw;

        .inner {
            width: 80%;
        }

        .nav-menu {
            display: flex;
            a {
                padding-right: 10px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }

    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    
        .sidebar-content {
            width: 75%;
        }
    }
}